.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.page-header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #2772be;
  /* background-image: url(/static/media/header-bg.2d6aa282.png); */
  background-size: cover;
  display: flex;
}
.menuwrapper{
  height: 50px;
  background-color: #2772be;
  width: 30%;
}
.entrance-wrapper .entrance-web.pgd {
  background: #286cac;
}
.entrance-wrapper .entrance-web img {
  display: inline-block;
  margin-top: 54px;
  margin-left: 85px;
  width: 60px;
  height: 60px;
}
.entrance-wrapper .entrance-web .entrance-text {
  display: block;
  margin-top: 15px;
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #fff;
  text-align: center;
}